<div class="columns">
    <div class="column is-12">
        <h1 class="title">
            <table class="table is-striped is-fullwidth">
            
                <tbody>
                    
                    {% for storie in stories %}
                    
                        <tr>
                            <td>
                                {{forloop.counter}}
                            </td>
                            <td>
                                <a href="{{story.url}}" target="_blank"> {{Story.title}}</a>
                                <p>{{ Story.number_of_votes}} votes by {{Story.created_by}} {{story.created_at|timesince}} ago |

                                    {% if not story.created_by == request.user %} <a href="{% url 'vote' story.id %}"> Vote </a> {% endif %}
                                    <a href="{% url 'story' story.id %}"> Discuss </a>
                                </p>
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        </h1>   
    </div>
</div>